examples/example.json
[{"id":"320b54d6.e604d4","type":"counter-loop","z":"9d509964.2610d","name":"counter loop","counter":"il320b54d6e604d4","counterType":"msg","initial":"0","initialType":"num","operator":"lt","termination":"5","terminationType":"num","increment":1,"incrementType":"num","x":295,"y":150,"wires":[["676a128f.8a03dc"],["5d19cb24.ac3444"]]},{"id":"fd2d7768.345b98","type":"inject","z":"9d509964.2610d","name":"","topic":"","payload":"Red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":150,"wires":[["320b54d6.e604d4"]]},{"id":"676a128f.8a03dc","type":"debug","z":"9d509964.2610d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":510,"y":150,"wires":[]},{"id":"5d19cb24.ac3444","type":"change","z":"9d509964.2610d","name":"","rules":[{"t":"set","p":"result","pt":"msg","to":"$join([msg.result, msg.payload], ' ')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":315,"y":240,"wires":[["320b54d6.e604d4"]]},{"id":"1a60a19a.718526","type":"array-loop","z":"9d509964.2610d","name":"array loop","key":"al1a60a19a718526","keyType":"msg","array":"array","arrayType":"msg","x":480,"y":345,"wires":[["2a06fe8f.883d92"],["a9176a45.c66998"]]},{"id":"122377f3.e507f8","type":"inject","z":"9d509964.2610d","name":"","topic":"","payload":"A B C D E","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":345,"wires":[["c129d4e9.65ec6"]]},{"id":"2a06fe8f.883d92","type":"debug","z":"9d509964.2610d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"array","x":660,"y":345,"wires":[]},{"id":"c129d4e9.65ec6","type":"change","z":"9d509964.2610d","name":"","rules":[{"t":"set","p":"array","pt":"msg","to":"$split(msg.payload, ' ')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":345,"wires":[["1a60a19a.718526"]]},{"id":"a72c351c.98ba48","type":"function","z":"9d509964.2610d","name":"return msg","func":"\nreturn msg;","outputs":1,"noerr":0,"x":655,"y":465,"wires":[["548c8549.cc9904","1a60a19a.718526"]]},{"id":"548c8549.cc9904","type":"debug","z":"9d509964.2610d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":465,"wires":[]},{"id":"a9176a45.c66998","type":"delay","z":"9d509964.2610d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":495,"y":465,"wires":[["a72c351c.98ba48"]]},{"id":"1c8465fc.10e082","type":"while-loop","z":"9d509964.2610d","name":"while-loop","condi":"msg.payload % 3 !== 0","x":300,"y":600,"wires":[["b887c6d1.43c668"],["24b7b946.fcc9b6"]]},{"id":"7e4cca20.588e7c","type":"inject","z":"9d509964.2610d","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":600,"wires":[["1c8465fc.10e082"]]},{"id":"b887c6d1.43c668","type":"debug","z":"9d509964.2610d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":535,"y":600,"wires":[]},{"id":"24b7b946.fcc9b6","type":"change","z":"9d509964.2610d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload) -1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":675,"wires":[["a72010f2.69313","64d645c5.fe848c"]]},{"id":"64d645c5.fe848c","type":"debug","z":"9d509964.2610d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":505,"y":720,"wires":[]},{"id":"a72010f2.69313","type":"delay","z":"9d509964.2610d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":495,"y":675,"wires":[["1c8465fc.10e082"]]}]
